[Unit]
Description=roscore_INU

[Service]
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/python3 /opt/ros/noetic/bin/roscore
EnvironmentFile=/etc/systemd/system/swcho_env
Restart=on-abort
RestartSec=5

[Install]
WantedBy=default.target
